<div class="home-page-wrapper">
	<div class="page-column" *ngIf="servers && servers.total; else notShow">
		<h4>
			You have { servers.total, plural, =1 { 1 host } other { {{ servers.total }} hosts} } set up
			for recording and mocking:
		</h4>

		<div>
			<h-server-card
				*ngFor="let server of servers.items"
				[server]="server"
				[stubbCount]="getStubbCount(server)"
				[form]="serversForm"
			></h-server-card>
		</div>
		<div>
			<button
				mat-raised-button
				color="primary"
				[matBadge]="selectedHosts"
				[matBadgeHidden]="!selectedHosts"
				matBadgeColor="warn"
				(click)="toggleRun()"
			>
				<ng-container *ngIf="selectedAll">
					{allLaunched, select, stop {Stop} other {Start}} all services
				</ng-container>
				<ng-container *ngIf="!selectedAll">
					{allLaunched, select, stop {Stop} other {Start}} { selectedHosts, plural, =1 { 1 service }
					other { {{ selectedHosts }} services} }
				</ng-container>
			</button>
		</div>
	</div>

	<ng-template #notShow>
		<p>
			No hosts set up to for recording. Check your config file for details
		</p>
	</ng-template>
</div>
