.home-page-wrapper {
	display: flex;
	justify-content: center;

	.page-column {
		flex: 0 1 600px;

		.server-card {
			cursor: pointer;
			margin-bottom: 15px;

			.details-btn {
				float: right;
			}
		}
	}
}
