<div class="home-page-wrapper" *ngIf="{ servers: servers$ | async } as data">
	<div class="page-column" *ngIf="data.servers && data.servers.total; else notShow">
		<h4>
			You have { data.servers.total, plural, =1 { 1 host } other { {{ data.servers.total }} hosts} }
			set up for recording and mocking:
		</h4>

		<div [formGroup]="serversForm">
			<div class="server-card" *ngFor="let server of data.servers.items">
				<mat-card>
					<mat-card-title>
						<div class="flex-between">
							<div>
								<mat-checkbox color="primary" [formControlName]="server.id"
									>Host: {{ server.host }}</mat-checkbox
								>
							</div>
							<div>
								<button
									mat-icon-button
									aria-label="Show host details"
									(click)="showHostDetails(server.id)"
								>
									<mat-icon>search</mat-icon>
								</button>
							</div>
						</div>
					</mat-card-title>
					<mat-card-subtitle>
						<div class="flex-between">
							<div>
								<span>Mocked by: {{ server.getMock() }}</span>
							</div>
							<div>
								<span
									>{ server.stubbs, plural, =1 { 1 stubb } other { {{ server.stubbs }} stubbs}
									}</span
								>
							</div>
						</div>
					</mat-card-subtitle>
				</mat-card>
			</div>
		</div>
		<div>
			<button mat-raised-button color="primary" (click)="toggleRun()">Start service</button>
		</div>
	</div>

	<ng-template #notShow>
		<p>
			No hosts set up to for recording. Check your config file for details
		</p>
	</ng-template>
</div>
