<div class="server-card" [formGroup]="form" *ngIf="server">
	<mat-card>
		<mat-card-title>
			<div class="flex-between">
				<div>
					<mat-checkbox color="primary" [formControlName]="server.id"
						>Host: {{ server.host }}</mat-checkbox
					>
				</div>
				<div>
					<button
						mat-icon-button
						aria-label="Show host details"
						(click)="showHostDetails(server.id)"
					>
						<mat-icon>search</mat-icon>
					</button>
				</div>
			</div>
		</mat-card-title>
		<mat-card-subtitle>
			<div class="flex-between">
				<div class="status">
					<h-host-status [isLaunched]="isLaunched()"></h-host-status>
					<span class="clickable" (click)="copyMockName()">Mocked by: {{ getMockName() }}</span>
				</div>
				<div>
					<span>{ stubbCount, plural, =1 { 1 stubb } other { {{ stubbCount }} stubbs} }</span>
				</div>
			</div>
		</mat-card-subtitle>
	</mat-card>
</div>
