.server-card {
	margin-bottom: 15px;

	.status {
		display: flex;
		align-items: inherit;

		.yellow {
			color: #ff9900;
		}

		.green {
			color: #3ad23a;
		}

		.state {
			padding-right: 5px;
		}
	}

	.clickable {
		cursor: pointer;
	}

	.flex-between {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
